﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="mymenu.ascx.cs" Inherits="pagesCMS.usercontrol.mymenu" %>
  
<asp:SqlDataSource runat="server" ID="pages_menu"
    connectionstring="<%$ConnectionStrings:final_sql_con %>"></asp:SqlDataSource>

<ul runat="server" id="menucontainer" class="nav navbar-nav"></ul>